<div class="container">
    <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BNzhkN2RiMmEtNGYxOS00ZTBmLThmOTItMWYxZGIzNzYwODhlXkEyXkFqcGdeQXVyMTYzMDUzNjEw._V1_.jpg" alt="cover">
    </div>
    <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BNzhkN2RiMmEtNGYxOS00ZTBmLThmOTItMWYxZGIzNzYwODhlXkEyXkFqcGdeQXVyMTYzMDUzNjEw._V1_.jpg" alt="cover">
    </div>
    <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BNzhkN2RiMmEtNGYxOS00ZTBmLThmOTItMWYxZGIzNzYwODhlXkEyXkFqcGdeQXVyMTYzMDUzNjEw._V1_.jpg" alt="cover">
    </div>
    <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BNzhkN2RiMmEtNGYxOS00ZTBmLThmOTItMWYxZGIzNzYwODhlXkEyXkFqcGdeQXVyMTYzMDUzNjEw._V1_.jpg" alt="cover">
    </div>
    <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BNzhkN2RiMmEtNGYxOS00ZTBmLThmOTItMWYxZGIzNzYwODhlXkEyXkFqcGdeQXVyMTYzMDUzNjEw._V1_.jpg" alt="cover">
    </div>
    <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BNzhkN2RiMmEtNGYxOS00ZTBmLThmOTItMWYxZGIzNzYwODhlXkEyXkFqcGdeQXVyMTYzMDUzNjEw._V1_.jpg" alt="cover">
    </div>
    <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BNzhkN2RiMmEtNGYxOS00ZTBmLThmOTItMWYxZGIzNzYwODhlXkEyXkFqcGdeQXVyMTYzMDUzNjEw._V1_.jpg" alt="cover">
    </div>
</div>